 body{
 	background-color: #000;
 	background-image: url(../images/background.jpg);
 	background-repeat: no-repeat;
 	background-position: center;
 	background-size: cover;
 	display: table;
 	height: 100%;
 	width: 100%;
 }

 h1{
 	text-align: right;
 	color: #e3d10e;
 	text-shadow: transparent;
 	padding-right: 20px;
 	word-spacing: 10px;
 	font-family: "Times New Roman", Times, serif;
 	font-size: 40px;
 	font-style: italic;
 	font-weight: bold;
 }

 #inputs{
 	text-align:	right;
 	padding: 20px;
 	color: #0ee3ca;
 	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
 	font-weight: normal;
 	line-height: 2em;
 	box-sizing: border-box;
 	position: relative;
 	/*width: 400px;*/
 	/*display: block;
 	background-color: transparent;*/
 }

 .style_h3{
 	color: #e3d10e;
 	text-shadow: transparent;
 	word-spacing: 5px;
 	font-size: 40px;
 	font-style: italic;
 }

 input {
 	width: 20vw;
 	font-size: 2vw;
 	overflow: visible;
 	display: inline-block;
 	background-color: transparent;
 	border: 0;
 	border-bottom: 1px solid #fff;
 }

 #special {
 	width: 15%;
 	display: inline-block;
 	border: 1px solid #fff;
 	background-color: inherit;
 	color: #fff;
 	/*transform: translate(-50%,-50%);*/
 	text-transform: uppercase;
 	text-decoration: none;
 	font-family: sans-serif;
 	box-sizing: border-box;
 	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
 	background-size: 400%;
 	border-radius: 30px;
 }
 #special:hover {
 	animation: animate 8s linear infinite;
 	border-radius: 40px;
 	/*filter: blur(1px);*/
 }

 @keyframes animate{
 	0% {
 		background-position: 0%;
 	}
 	100% {
 		background-position: 400%;
 	}
 }

 #special::before {
 	content: "";
 	position: absolute;
 	top: -5px;
 	left: -5px;
 	right: -5px;
 	bottom: -5px;
 	z-index: -1;
 	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
 	background-size: 400%;
 	opacity: 0;
 	transition: 0.5s;
 }
 #special::hover::before {
 	content: "";
 	border-radius: 40px;
 	filter: blur(10px);
 	opacity: 1;
 	animation: animate 8s linear infinite;
 }

 @media screen and (max-width: 600px) {
  p, input, input[type=submit] {
  	display: inline-block;
  	text-align: left;
  	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  	font-size: 10px;
 	font-weight: normal;
 	line-height: 2em;
 	box-sizing: border-box;
 	position: relative;
    width: auto;
    margin-top: 0;
    color: #fff;
  }
}

p > a {
	color: red;
}

p > a:visited {
  color: green;
}

p > a:hover {
  color: hotpink;
}

p > a:active {
  color: blue;
}